[Unit]
Description=cbc Peer-to-Peer Network Daemon
 
[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/cbcd --conf=/etc/cbcd/cbcd.cfg
 
[Install]
WantedBy=multi-user.target